<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Suite">
	
  <test name="Department1">
    <classes>
      <class name="TestNGDetails.AnnTest"/>
       <class name="TestNGDetails.XMLFile"/>
    </classes>
 </test> 
 
<test name="Department2">
	
	<classes>
		<class name="TestNGDetails.Priortize">
			<methods>
				<exclude name="Priortize3"/>
			</methods>
		</class>
	</classes>
</test>
</suite> <!-- Suite -->
